<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>Tasty Drink利用規約</p>
  </div>
  <%= image_tag "facebook_cover_photo_2.png", class:"second-fotter-logo"%>
</footer>